<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
{%load staticfiles%}
<title>Spartan Home</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container">
  <a class="navbar-brand" href="{%url 'home'%}">
  <img   alt="logo" src={%static "Blog/Images/pic.png"%} height="60" width="60">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mx-auto">
      <a class="nav-item nav-link active" href="{%url 'home'%}">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="{%url 'portfolio'%}">Portfolio</a>
      
      <a class="nav-item nav-link " href="{%url 'contact'%}">Contact</a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link " href="http://www.facebook.com/santhoshnkl3"> 
      <img alt="fb" src={%static "Blog/Images/fb.png"%} class="social" width="30" height="30">
      </a>
      <a class="nav-item nav-link" href="https://www.instagram.com/jzt_call_me_sk_/">
      <img alt="insta" src={%static "Blog/Images/insta.png"%} class="social" width="30" height="30">
      </a>
      
      <a class="nav-item nav-link " href="https://www.linkedin.com/in/tsanthoshnkl/">
      <img alt="linkedin" src={%static "Blog/Images/linkedin.png"%} class="social" width="30" height="30">
      </a>
    </div>
  </div>
</nav>
</div>

{% block content%}
{%endblock%}
  <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5c59a7567cf662208c9428f3/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>
</html>
